@import '../../styles/variables'; 
@import '../../styles/mixins'; 

.pagination {
    @include UlListDefault;
    font-size:0.7rem;  
    margin:auto; 
    &__item {
        text-align: center;
        display: inline-flex;
        align-items: center; 
        justify-content: center;
        margin:0.1rem; 
    }
    &__link {
        border:solid 1.5px $lilac; 
        border-radius: 50%;
        display: inline-flex;
        align-items: center; 
        justify-content: center;
        height: 35px;
        width: 35px;
        cursor:pointer;
    }:active {
        border-radius: 50%;
        background-color: $lilac;
    }
}
