@import '../../styles/variables'; 
@import '../../styles/responsive'; 

.page.products {
    //should be global style for all pages 
    padding-top:1rem; 
    flex-direction: column;

    //TODO: change flex-direction here, add className .productlist
    @media screen and (max-width: $mobile) {
        padding:2rem;//same as card
    }
    .page__sort {
        text-align:right;
        margin-bottom:1rem; 
        // margin-top:1rem; 
        margin-right:1.2rem; 
        @media screen and (max-width: $mobile) {
           margin-right: 0;
        }
        .sort-options {
            border:solid 1.5px $lilac; 
            padding:0.5rem 1rem;  
            width:40%; //same as card 
            @media screen and (min-width: $mobile) {
                width:20%; //same as card
            }
        }
    }
    .products__list {
        //move page content below menu 
        margin:auto; 
        list-style-type: none;
        .products__item {
            // background-color: white;
            border-radius:1%; 
            box-shadow: 8px 9px 15px rgba(0, 0, 0, 0.25); 
            margin-bottom:2rem; 
            .card-image {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top:0.5rem; 
                
                img {
                    //align image center of container 
                    margin-top:1.5rem; 
                    max-height:70%; //of it's container
                    max-width:70%; //of it's container
                }
            }
            .product-card-info {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                // justify-content:flex-end; 
                // margin-right:0.5rem;
                padding:0 0 0 0.5rem; 
                h6 {
                    margin:0; 
                    padding-right:0.5rem; 
                    width:60%;
                    font-size:0.7rem; 
                    color: $forest-green; 
                }
                span {
                    // width:20%;
                    // text-align:right;
                    //add svg illustration?
                }
                button {
                    //add button style 
                    width:30%; 
                    height:30px; 
                    border:1.5px solid $cta-orange;
                    transition: all 0.25s; 
                    text-align: center; 
                    cursor: pointer; 
                    color:$cta-orange;
                    background-color:white;  
                }
            }

        }
        //move last child to align left? 
        //should align left if xxxx ? how 
        // .product-card:nth-child(5) {
        //     border:solid red; 
        // }
        padding-bottom:3rem;
    }
    .pagination {
        // padding:2rem;
        // margin:auto; 
        text-align: center;
    }
}