@import '../../styles/variables'; 

.page-container {
    //global style for all pages 
    .product-list {
        //move page content below menu 
        padding-top:8rem;
        margin:2rem; 
        .product-card {
            background-color: white;
            box-shadow: 8px 9px 7px rgba(0, 0, 0, 0.25);
            margin-bottom:2rem; 
            //product image 
            .placeholder {
                background-color: gray;
                // height:auto;
            }
            .product-card-info {
                display: flex;
                flex-wrap: wrap;
                justify-content:flex-end; 
                margin:0.5rem; 
                h6 {
                    margin:0; 
                    width:60%;
                    color: $forest-green; 
                }
                span {
                    width:35%;
                    text-align:right;
                    //add svg illustration?
                }
                button {
                    //add button style 
                    width:30%; 
                    margin-bottom:0.5rem; 
                }
            }

        }
    }
}