@import '../../styles/variables';
$mobileMenu: 1024px; // 1024px;

@media screen and (min-width: $mobileMenu) {
  .nav {
    background-color: transparent; 
    padding:1rem; 
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    
    //menu for subpage 
    // color:$cta-orange; 
    // padding:2rem 2rem 0.5rem 1rem;
    // margin:0; 
    // position: fixed;
    // top: 0;
    // left:0;
    // width: 100%; 
    // opacity:0.9; 

    .menu__toggle {
      display: none;
    }
    //list in menu 
    &__list {
      // display: none; //toggled on mobile
      display: flex;
      list-style: none;
      margin-left: auto;
      padding-left: 0;
    }
    &__item {
        position: relative;
        padding: 0;
        padding-right: 2rem;
        margin: 0;
        display: flex;
        align-items: center;
        color:$cta-orange;
    }
    &__link {
        animation: fadeIn ease 1s;
        padding: 0.4rem 0;
        font-size: 0.8rem;
        letter-spacing: 1px;
        text-align: center;
        cursor:pointer; 
        &:hover {
        transition: all ease-in 0.2s;
        }
    }
  }
}

/* Mobile menu default look */
@media screen and (max-width: $mobileMenu) {
  .nav {
    background-color: transparent; 
    padding:1rem; 
    display: flex;
    flex-direction: row;
    justify-content: right;
    .menu__toggle {
      margin-left: auto; //aligns to left 
      background-color: transparent;
      cursor: pointer;
      border: 0;
      outline: none;
      box-shadow: none;
      width: 30px;
      height: 30px;
      position: relative;
      z-index: 999;
      padding: 0;
      span {
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 9px;
          margin-bottom: 5px;
          background-color: $cta-orange;
          transition: all 0.2s ease;
          transform-origin: center center;
      }
      span:nth-child(2){
          width: 60%;
      }
      span:nth-child(3){
          width: 40%;
      }
    }
    //list in menu 
    &__list {
      display: none; //toggled on mobile
    }
    &__item {
    }
    &__link {
    }
    &.isToggled{
      // opacity:0.7; 
    }
  }

}

/*isToggled is added when menu-button is clicked*/
.isToggled {
  background-color: transparent; 
  padding:1rem; 
  display: unset;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
  background-color: $cta-orange;
  color: white;

  .menu__toggle {
    // margin: auto; //aligns to left 
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: none;
    box-shadow: none;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 999;
    padding: 0;
      & span {
      opacity: 0;
      margin: 0;
      background-color:white; 
      &:first-child {
          opacity: 1;
          width: 100%;
          transform: translateY(calc(50% + 3px)) rotate(-45deg);
      }
      &:last-child {
          opacity: 1;
          width: 100%;
          transform: translateY(calc(-150% + 3px)) rotate(45deg);
      }
      }
  }
  //menu nav + ul
  & .nav__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-self: center;
    padding:0; 
  }
  & .nav__item {
    color: white;
    margin:1rem;
    width:50%;  
    text-align: left;
  }
  & .nav__link {
    // padding-bottom: 1rem;
    text-decoration: none;
    font-size: 2rem;
  }
}


// /* Sets toggle in mobile view */
// @media screen and (min-width: 600px) {
//     .menu-toggle {
//       display: none;
//     }
//     .nav {
//       order: unset;
//     }
//     .nav__list {
//       display: flex;
//     }
// }
  
  @keyframes fadeInMenu {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  


  // .subpage-menu {
//     background-color:transparent;
//     color:$cta-orange; //which one is this?? 
//     padding:2rem 2rem 0.5rem 1rem;
//     margin:0; 
//     position: fixed;
//     top: 0;
//     left:0;
//     width: 100%; 
//     opacity:0.9; 
// }
// .site-header {
//   position: fixed;
//   z-index: 999;
//   width: 100%;
//   .brand-logo {
//   }
// }


// /* Mobile menu button default look */
// .nav--toggled {
//   .menu__toggle {
//     // display: flex;
//   //toggled display 
//     margin-left: auto;
//     background-color: transparent;
//     cursor: pointer;
//     border: 0;
//     outline: none;
//     box-shadow: none;
//     width: 30px;
//     height: 30px;
//     position: relative;
//     z-index: 999;
//     padding: 0;
//     span {
//         display: block;
//         height: 4px;
//         width: 100%;
//         border-radius: 9px;
//         margin-bottom: 5px;
//         background-color: $cta-orange;
//         transition: all 0.2s ease;
//         transform-origin: center center;
//     }
//     span:nth-child(2){
//         width: 60%;
//     }
//     span:nth-child(3){
//         width: 40%;
//     }
//   }
// }
