@import '../../styles/variables';
@import '../../styles/mixins'; 
$mobileMenu: 1024px; // 1024px;

@media screen and (min-width: $mobileMenu) {
  .nav, .isToggled{
    background-color: transparent; 
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: left;    
    // width: 100%; 
    // opacity:0.5; 
    // padding-bottom:0; 
    // z-index:1; //set on top
    // position: fixed;
    // height:20%;
    // top: 0;
    // left:3%; // move in 
    
    .brand-logo {
      padding-left:1rem;  
      width:20%;
      svg {
        width:70%;
      }
    }
    .menu__toggle {
      display: none;
    }
    //list in menu 
    &__list {
      // display: none; //toggled on mobile
      display: flex;
      list-style: none;
      margin-left: auto;
      padding-left: 0;
    }
    &__item {
        position: relative;
        padding: 0;
        padding-right: 2rem;
        margin: 0;
        display: flex;
        align-items: center;
        color:$cta-orange;
        &:last-child {
          padding-right: 0rem;
        }
    }
    &__link {
        animation: fadeIn ease 1s;
        padding: 0.4rem 0;
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-align: center;
        cursor:pointer; 
        text-decoration: none;
        color:$cta-orange; 
        &:hover {
        transition: all ease-in 0.2s;
        }
        &:visited {
          text-decoration: none;
        }
    }
    .icon__like{
      margin-top:0.3rem;
      height: 25px;
    }
  }
  //stiky scroll om desktop? 
  //should be sticky on mobile too
  .nav.--sticky {
    scroll-behavior: smooth;
    position: fixed;
    top: 0;
    width:90%;
    left:5%;
  }
}

@media screen and (min-width: $mobileMenu) {
  .isToggled {
    // display:none; 
  }
}
/* Mobile menu default look */
@media screen and (max-width: $mobileMenu) {
  .nav {
    width:90%;
    margin:0;
    background-color: transparent; 
    padding:1rem;
    padding-bottom:0;  
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    .menu__toggle {
      margin-left: auto; //aligns to left 
      background-color: transparent;
      cursor: pointer;
      border: 0;
      outline: none;
      box-shadow: none;
      width: 30px;
      height: 30px;
      position: relative;
      z-index: 999;
      padding: 0;
      span {
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 9px;
          margin-bottom: 5px;
          background-color: $cta-orange;
          transition: all 0.2s ease;
          transform-origin: center center;
      }
      span:nth-child(2){
          width: 60%;
      }
      span:nth-child(3){
          width: 40%;
      }
    }
    //list in menu 
    &__list {
      display: none; //toggled on mobile
    }
    /*isToggled is added when menu-button is clicked*/
    &.isToggled {
      z-index:999; 
      background-color: transparent; 
      display: unset;
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;
      flex-direction: column;
      overflow-y: scroll;
      background-color: $cta-orange;
      color: white;
      text-decoration: none;
      .brand-logo {
        display:none;
      }
      .menu__toggle {
        background-color: transparent;
        cursor: pointer;
        outline: none;
        box-shadow: none;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 999;
        padding: 0;
        margin-left:1rem; 
        margin-top:1rem; 
          & span {
          opacity: 0;
          margin: 0;
          background-color:white; 
          &:first-child {
              opacity: 1;
              width: 100%;
              transform: translateY(calc(50% + 3px)) rotate(-45deg);
          }
          &:last-child {
              opacity: 1;
              width: 100%;
              transform: translateY(calc(-150% + 3px)) rotate(45deg);
          }
          }
      }
      //menu nav + ul
      & .nav__list {
        @include UlListDefault;
        margin:auto;  
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-self: center;
      }
      & .nav__item { 
        color: white;
        margin:1rem;
        width:50%;  
        text-align: center;
      } 
      & .nav__link {
        text-decoration: none;
        color: white;
        font-size: 2rem;
      }
    }
  }
}



  @keyframes fadeInMenu {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
