$desktop:1224px;
$padlet:1024px;
$mobile:800px;
$mobileXs:600px; 

body {
    display: flex; 
    flex-direction: column;
    width:100%; 
    margin:0; //content to fill entire page width 
    //set height to 100%
    //push footer to the end of page

    //padlet
    @media screen and (min-width: $padlet) {
    }
    //desktop
    @media screen and (min-width: $desktop) {   
    }
    .page-title {
        h2 {
            line-height: 1rem;
        //padlet
        @media screen and (min-width: $padlet) {
            margin-top:0; 
        }  
        }
    }
    .page { 
        // z-index:2; 
        height:100%; 
        //padlet
        @media screen and (min-width: $padlet) {
            width:95%; 
            margin:auto; 
            display:flex;
            flex-direction: row;
            font-size:1.5rem;
        }
        .search-product, .yellow-section {
            @media screen and (min-width: $padlet) {
                width:50%;
                margin-left:0; 
            }
        }
        .products__list {
            padding-left:0; 
            display:flex; 
            flex-direction: row; 
            flex-wrap: wrap;
            justify-content: center;
            
            @media screen and (min-width: $padlet) {
                // justify-content: space-evenly;
            }  
            .products__item { 
                //TODO: last items on last page??? 
                width: 45%; 
                margin:0.5rem; 
                max-height:40vh; 
                min-height:40vh;  
                .card-image {
                    height:60%;
                    // border:solid red; 
                    @media screen and (min-width: $mobile) {
                        height:60%;
                    }
                    img {
                        @media screen and (max-width: $mobile) {
                            width:40%;
                        }
                    } 
                }
                .product-card-info {
                    height:30%;
                }
                @media screen and (min-width: $mobile) {
                    width:35%;
                    margin:0.5rem;
                }
                @media screen and (min-width: $padlet) {
                    width:22%;     
                }   
            }
            .pagination {
                @media screen and (min-width: $padlet) {
                    // justify-content: space-evenly; 
                    padding:2rem;
                    margin:auto; 
                }  
            }
        }
        
    }
    footer {
        //more height? 
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        @media screen and (min-width: $padlet) {
            //less height? 
            flex-direction: row;
        }  
    }
}