$desktop:1224px;
$padlet:1024px;
$mobile:800px;
$mobileXs:600px; 


body {
    display: flex; 
    flex-direction: column;
    width:100%; 
    margin:0; //content to fill entire page width 
    //set height to 100%
    //push footer to the end of page
    //padlet
    @media screen and (min-width: $padlet) {
       
    }

    //desktop
    @media screen and (min-width: $desktop) {
        
    }
    .page-container { 
        // background-color: yellow;
        // z-index:2; 
        height:100%;  
    }
    footer {
    
    }
}