$yellow:#FFEFCC; 
$lilac:#DAD9FF; 
$cta-orange:#FA6333;
$forest-green:#003B36;
$light-gray: #F2F2F2; 
$text-color:#5A5A5A;
 

//TODO: 
/*
- create a map for colors?
- color variables: add opacity where it's used, lilac backgrounds, gray body
- create working mixins for buttons 
*/

//doesnt work 
@mixin primarybutton {
    border:none;
    font-weight: 400;
    font-style: normal;
    transition: all 0.25s; 
    text-align: center; 
    cursor: pointer; 
    background-color:$cta-orange;
    color:$yellow; 
}
@mixin secondarybutton {
    width:30%; //? 
    height:30px; 
    border:3px solid $cta-orange;
    font-weight: 400;
    font-style: normal;
    transition: all 0.25s; 
    text-align: center; 
    cursor: pointer; 
    color:$cta-orange; 
}

