$yellow:#FFEFCC; 
$lilac:#DAD9FF; 
$cta-orange:#FA6333;
$forest-green:#003B36;
$light-gray: #F2F2F2; 
$text-color:#5A5A5A;
 

//TODO: 
/*
- create a map for colors?
- color variables: add opacity where it's used, lilac backgrounds, gray body
- create working mixins for buttons 
*/


// }:hover {
//     box-shadow: 5px 5px 1px $lilac;
// }


body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

// input[type=text] {
//     &:focus {
//         outline: 1.5px $cta-orange;  
//      }
// }
