@import '../../styles/variables'; 

.page { 
    .page__about {
        width:100%; 
        display: flex; 
        flex-direction: column;
        justify-content: left;
        .submenu {
            width:100%;
            .accordion {
                list-style-type: none;
                margin:0;
                color:$text-color; 
                width:100%; 
                padding:0; 
                .accordion__item {
                    display: flex; 
                    flex-direction:row; 
                    width:90%;
                    border-bottom:1.5px solid $lilac; 
                    margin-bottom:1rem; 
                    .accordion__link {
                        text-decoration: none;
                        color:$text-color;
                        cursor:pointer;  
                        border: none; 
                        background-color: transparent;
                        font-size:2rem;  
                    }
                    .submenu__info {
                        font-size:0.5rem; 
                        background-color:$lilac; 
                        padding:1rem;
                        text-align:left; 
                        height:20%;
                        margin-left:auto;
                        width:40%; 
                    }

                }
            }
        }
        .submenu--active {
            display:visible; 
            width:90%;
            background-color:$lilac;
            font-size:0.7rem;  
            padding:1rem;
            line-height: 1.5;
            a {
                text-decoration: none;
                color:$cta-orange; 
                font-weight: bolder;
            }a:hover {
                border-bottom: 0.5px solid $cta-orange;
            }
            ul {
                list-style-type: disc;
                padding-left:1rem; 
                li {
                    margin-bottom:0.5rem; 
                    a {
                        text-decoration: none;
                        color:$cta-orange; 
                        font-weight: bolder;
                    }a:hover {
                        border-bottom: 0.5px solid $cta-orange;
                    }
                }

            }
            &.hide {
                display:none; 
            }
        }
        
    }
}

@keyframes arrow {
    0%  {width:10%;}
    25% {width:20%;}
    75% {width:30%;}
    100% {width:50%;}
}

@keyframes boxes {
    0%  {width:0%;}
    25% {width:10%;}
    100% {width:20%;}
}
