@import '../../styles/variables'; 

.page-container {
    //global style for all pages 
    .about-info {
        padding-top:9rem; //find a way to do this smarter? 
        display: flex; 
        flex-direction: row;
        .submenu {
            height:40vh;
            width:50%;
            padding-left:1rem; //1rem for left padding should be global 
            ul {
                list-style-type: none;
                padding-left:0;
                color:$text-color; 
                a {
                    text-decoration: none;
                    color:$text-color; 
                } 
            }
            //create button style mixin
            button {
                width:50%;
                border:solid 3px $cta-orange; 
                background:transparent; 
                color: $cta-orange; 
                padding:0.3rem; 
            }
        }
        .placeholder {
            border: solid grey;
            height:40vh;
            width:50%;
        }
    }
    .yellow-section {
        height:30vh; //height for testimonial card? 
        background-color: $yellow;
        text-align:center;
        p {
            padding:50px;
            margin:0; //add margin back?  
            font-size:1rem;
            font-style:italic; 
        }
    }
}