@import '../../styles/variables'; 

footer {
    background-color:white; 
    border-top: 1.5px solid rgba(0, 0, 0, 0.16); 
    margin-top:2rem;
    padding:2rem 1rem; 
    font-size:0.7rem; 
    color: $text-color; 
    .footer-contact-info, .copyright {
        text-align: left;
        h6 {
            font-size:0.7rem; 
        }
        a, .social--icon{
            text-decoration: none;
            color:inherit;
            svg { 
                width:20px;
                height:20px; 
                margin-right:1rem; 
            } 
        }a:hover {
           border-bottom:1.5px solid $lilac; 
        }
    }
}