@import '../../styles/variables'; 
@import '../../styles/mixins'; 

.search-product {
    display: flex; 
    flex-direction: column;;
    margin:1rem;
    padding-top:1rem; 
    input[type=text] {
        @include InputField; 
        background-image: url('../../assets/svg/searchicon.svg');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-color:transparent; 
        padding-left: 40px;
        &:focus {
           outline: 1.5px $cta-orange;  
        }
    }
    button {
        margin-top:1rem;
        @include Secondarybutton; 
    }:disabled {
        opacity:0.5; 
    }button:hover {
        @include HoverShadow; 
    }
}
